# data
*.tbl

# vagrant
.vagrant/
Vagrantfile.local

# retired
.retired/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# vim
tags/
*.swp

#other
*.jpeg
*.jpg
*.png
*.pdf

.vagrant/machines/p2d2/hyperv/synced_folders
*.vhdx
.vagrant/machines/p2d2/hyperv/Virtual Hard Disks/ubuntu-20.04-amd64.vhdx
